<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block title %}<title>ESP Grades App</title> {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">ESP SID</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Importer des donnees
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/module_group_import/">Import Modulegroup </a></li>
                <li><a class="dropdown-item" href="/module_import/">Import Modules</a></li>
                <li><a class="dropdown-item" href="/student_import/">Import Students</a></li>
                <li><a class="dropdown-item" href="/grade_import/">Import Grades</a></li>
                <li><a class="dropdown-item" href="/module_has_student_import/">Import Modules and student</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ajouter
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/modulegroup/add">Add Modulegroup </a></li>
                <li><a class="dropdown-item" href="/module/add">Add Modules</a></li>
                <li><a class="dropdown-item" href="/student/add">Add Students</a></li>
                <li><a class="dropdown-item" href="/grade/add">Add Grades</a></li>
                <li><a class="dropdown-item" href="/modulehasstudent/add">Add Modules and student</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Les Données
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/modulegroup/list">Modulegroup list</a></li>
                <li><a class="dropdown-item" href="/module/list">Modules list</a></li>
                <li><a class="dropdown-item" href="/student/list">Students list</a></li>
                <li><a class="dropdown-item" href="/grade/list">Grades list</a></li>
                <li><a class="dropdown-item" href="/modulehasstudent/list">Modules and student list</a></li>
              </ul>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
  </body>
</html>