
{% block title %}<title>Home</title> {% endblock %}
{% block content %}
<form method="post" action="{% url 'home-page' %}">
    {% csrf_token %}
    <label>Departement:</label>
    <select name="departement">
        {% for departement in departments %}
        <option value="{{ departement }}">{{ departement }}</option>
        {% endfor %}
    </select>
    <label>Semestre:</label>
    <select name="semestre">
        {% for semestre in semesters %}
        <option value="{{ semestre }}">{{ semestre }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit" color='green'>
</form>
<canvas id="bar-chart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>
    var ctx = document.getElementById('bar-chart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels|safe }},
            datasets: [{
                label: 'Average Grade',
                data: {{ data|safe }},
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    max: 100
                }
            }
        }
    });
</script>

{% endblock %}