{% extends "base_template.html" %}
{% block title %}<title>Home</title> {% endblock %}
{% block content %}
      <div class="container">
        <h1 class="text-center">Welcome To ESP Grades App</h1>
        <h2 class="text-center">   </h2>
        <h3 class="text-center">   </h3>
      </div>



{% endblock %}