<!DOCTYPE html>
<html>
<head>
    <title>Import module CSV file</title>
</head>
<body>
    <h1>Import CSV</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'data-module' %}">
    {% csrf_token %}
   >
        {% csrf_token %}
        <input type="file" name="csv_file" accept=".csv" required>
        <input type="submit" value="Upload">
    </form>
</body>
</html>