{% extends "base_template.html" %}
{% block title %}<title>Grades List</title>{% endblock %}

{% block content %}
<form method="POST"  action="{% url 'grade-search' %}">

{% csrf_token %}

<div class="form-group mx-sm-3 mb-2">
<input name="identifiant" type="" class="form-control" id="" placeholder="Keyword">
</div>
<div class="text-end pt-5"><input type="submit" class="btn btn-primary" value="search">
</div>
</form>

<div class="text-end pt-5"> <a href="/modulegroup/add" class="btn btn-primary">Add a grade</a> 
  </div>
<div class="container">
        <h1> Grade List </h1>
        <table class="table">
            <thead>
              <tr>
                
                <th scope="col">ID</th>
                <th scope="col">Note SN</th>
                <th scope="col">Note SC</th>
                <th scope="col"> Student ID</th>
              </tr>
            </thead>
            <tbody>
            {% for x in grade_list %}
                <tr>
                <th scope="row">{{ x.identifiant }}</th>
                <td>{{ x.note_sn }}</td>
                <td>{{ x.note_sc }}</td>
                <td>{{ x.student_id }}</td>
                <td><a href="/grade/{{ x.identifiant }}" class="btn btn-info">View</a> | <a href="/grade/update/{{ x.idetifiant }}" class="btn btn-warning">Edit</a> | <a href="/grade/delete/{{ x.identifisnt }}" class="btn btn-danger">Delete</a> </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>

{% endblock %}