{% extends "base_template.html" %}

{% block title %}<title>Grade Details</title>{% endblock %}

{% block content %}

    <h1 class="text-center"> </h1>

    <ul class="list-group p-5">


        <li class="list-group-item"><b>Id</b>: {{ grade.identifiant }}</li>

        <li class="list-group-item"><b>Note SN </b>: {{ grade.note_sn }}</li>

        <li class="list-group-item"><b>Note SC </b>: {{ grade.note_sn }}</li>

        <li class="list-group-item"><b>Year  </b>: {{ grade.year}}</li>
        <li class="list-group-item"><b>Module code  </b>: {{ grade.module_code}}</li>
        <li class="list-group-item"><b>Student Id  </b>: {{ grade.student_id}}</li>

    </ul>
{% endblock %}