{% extends "base_template.html" %}
{% block title %}<title>Module Has Student List</title>{% endblock %}

{% block content %}

<form method="POST"  action="{% url 'modulehasStudent-search' %}">

{% csrf_token %}

<div class="form-group mx-sm-3 mb-2">
<input name="year" type="" class="form-control" id="" placeholder="Keyword">
</div>
<div class="text-end pt-5"><input type="submit" class="btn btn-primary" value="search">
</div>
</form>

<div class="text-end pt-5"> <a href="/modulegroup/add" class="btn btn-primary">Add Module has student</a> 
</div>
<div class="container">
        <h1> Module has student List </h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Year</th>
                <th scope="col">Module Code</th>
                <th scope="col">Student ID</th>
                
                
              </tr>
            </thead>
            <tbody>
            {% for x in module_has_student_list %}
                <tr>
                <th scope="row">{{ x.year }}</th>
                <td>{{ x.module_code }}</td>
                <td>{{ x.student_id }}</td>
                
                <td><a href="/modulehasstudent/{{ x.year }}" class="btn btn-info">View</a> | <a href="/modulehasstudent/update/{{ x.year }}" class="btn btn-warning">Edit</a> | <a href="/modulehasstudent/delete/{{ x.year }}" class="btn btn-danger">Delete</a> </td>
              
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>

{% endblock %}