{% extends "base_template.html" %}
{% block title %}<title>Module Group List</title>{% endblock %}

{% block content %}

<form method="POST"  action="{% url 'modulegroup-search' %}">

{% csrf_token %}

<div class="form-group mx-sm-3 mb-2">
<input name="module_groupe_code" type="" class="form-control" id="" placeholder="Keyword">
</div>
<div class="text-end pt-5"><input type="submit" class="btn btn-primary" value="search">
</div>
</form>

<div class="text-end pt-5"> <a href="/modulegroup/add" class="btn btn-primary">Add Module Group</a> 
  </div>
<div class="container">
        <h1> Module Group List </h1>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Label</th>
                <th scope="col">Semestre</th>
                <th scope="col">Departement</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for x in modulegroup_list %}
                <tr>
                <th scope="row">{{ x.id }}</th>
                <td>{{ x.code }}</td>
                <td>{{ x.label }}</td>
                <td>{{ x.semestre }}</td>
                <td>{{ x.departement }}</td>
                <td><a href="/modulegroup/{{ x.code }}" class="btn btn-info">View</a> | <a href="/modulegroup/update/{{ x.code }}" class="btn btn-warning">Edit</a> | <a href="/modulegroup/delete/{{ x.code }}" class="btn btn-danger">Delete</a> </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>

{% endblock %}