{% extends "base_template.html" %}

{% block title %}<title>Module Details</title>{% endblock %}

{% block content %}

    <h1 class="text-center">Module </h1>

    <ul class="list-group p-5">


        <li class="list-group-item"><b>Code</b>: {{ Module.code }}</li>

        <li class="list-group-item"><b>Label </b>: {{ Module.label }}</li>

        <li class="list-group-item"><b>Coefficient </b>: {{ Module.coef }}</li>

        <li class="list-group-item"><b>Module Groupe Code  </b>: {{ Module.modulegroupecode }}</li>

    </ul>
{% endblock %}