{% extends "base_template.html" %}
{% block title %}<title>Module List</title>{% endblock %}

{% block content %}

<form method="POST"  action="{% url 'module-search' %}">

{% csrf_token %}

<div class="form-group mx-sm-3 mb-2">
<input name="module_code" type="" class="form-control" id="" placeholder="Keyword">
</div>
<div class="text-end pt-5"><input type="submit" class="btn btn-primary" value="search">
</div>
</form>

<div class="text-end pt-5"> <a href="/modulegroup/add" class="btn btn-primary">Add Module </a> 
</div>

<div class="container">
        <h1> Module List </h1>
        <table class="table">
            <thead>
              <tr>
                
                <th scope="col">Code</th>
                <th scope="col">Label</th>
                <th scope="col">coefficient</th>
                <th scope="col">module groupe code</th>
              </tr>
            </thead>
            <tbody>
            {% for x in module_list %}
                <tr>
                <th scope="row">{{ x.code }}</th>
                
                <td>{{ x.label }}</td>
                <td>{{ x.coeff }}</td>
                <td>{{ x.modulegroupecode }}</td>
                <td><a href="/module/{{ x.code }}" class="btn btn-info">View</a> | <a href="/module/update/{{ x.code }}" class="btn btn-warning">Edit</a> | <a href="/module/delete/{{ x.code }}" class="btn btn-danger">Delete</a> </td>
              
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>

{% endblock %}