{% extends "base_template.html" %}

{% block title %}<title>Module has student Details</title>{% endblock %}

{% block content %}

    <h1 class="text-center">Module has student </h1>

    <ul class="list-group p-5">


        <li class="list-group-item"><b>Module Code</b>: {{ module_has_student.module_code }}</li>

        <li class="list-group-item"><b>Label </b>: {{ module_has_student.student_id }}</li>

        <li class="list-group-item"><b>Year </b>: {{ module_has_student.year }}</li>


    </ul>
{% endblock %}