{% extends "base_template.html" %}

{% block title %}<title>Module Group Details</title>{% endblock %}

{% block content %}

    <h1 class="text-center">Module Group</h1>

    <ul class="list-group p-5">

        <li class="list-group-item"><b>Code</b>: {{ modulegroup.code }}</li>

        <li class="list-group-item"><b>Label </b>: {{ modulegroup.label }}</li>

        <li class="list-group-item"><b>Semestre </b>: {{ modulegroup.semestre }}</li>

        <li class="list-group-item"><b>Departement </b>: {{ modulegroup.departement }}</li>

    </ul>

{% endblock %}

