{% extends "base_template.html" %}
{% block title %}<title>Student List</title>{% endblock %}

{% block content %}

<form method="POST"  action="{% url 'student-search' %}">
  {% csrf_token %}
  <div class="form-group mx-sm-0">
  <input name="matricule" type="" class="form-control" id="" placeholder="Keyword">
  </div>
  <div class="text-end pt-5"><input type="submit" class="btn btn-primary" value="search">
  </div>
</form>


    <div class="container">
        <h1> Student List </h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">matricule</th>
                <th scope="col">name</th>
                <th scope="col">surname</th>
                <th scope="col">date of birth</th>
                <th scope="col">departement</th>
              </tr>
            </thead>
            <tbody>
            {% for x in student_list %}
                <tr>
                <th scope="row">{{ x.id }}</th>
                <td>{{ x.matricule }}</td>
                <td>{{ x.name }}</td>
                <td>{{ x.surname }}</td>
                <td>{{ x.date_of_birth }}</td>
                <td>{{ x.departement }}</td>
                <td><a href="/student/{{ x.matricule }}" class="btn btn-info">View</a> | <a href="/student/update/{{ x.matricule }}" class="btn btn-warning">Edit</a> | <a href="/student/delete/{{ x.matricule }}" class="btn btn-danger">Delete</a> </td>
              
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>

{% endblock %}