{% extends "base_template.html" %}

{% block title %}<title>Student Details</title>{% endblock %}

{% block content %}

    <h1 class="text-center"> Student </h1>

    <ul class="list-group p-5">


        <li class="list-group-item"><b>Matricule</b>: {{ student.matricule }}</li>

        <li class="list-group-item"><b>Name </b>: {{ student.name}}</li>

        <li class="list-group-item"><b>Surname </b>: {{ student.surname }}</li>

        <li class="list-group-item"><b>Date of birth</b>: {{  student.date_of_birth }}</li>
        <li class="list-group-item"><b>Departement </b>: {{ student.departement }}</li>
        

    </ul>
    {% endblock %}
