{% extends "base_template.html" %}
{% block title %}<title>Student Confirm Delete</title>{% endblock %}

{% block content %}
<h1 class="text-center"> Add a Student</h1>

<form action="" method="post" class="text-center p-5">
    {% csrf_token %}
    <p class="h5 p-3">Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm" class="btn btn-danger"/>
</form>

{% endblock %}